<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="BoardMapper">
  <insert id="insert" parameterType="bvo">
  insert into board(title, writer, content, image_file) values
  (#{title}, #{writer}, #{content}, #{image_file})
  </insert>
  <select id="list" resultType="bvo">
  select * from board where bno > 0
  </select>
  <select id="detail" parameterType="int" resultType="bvo">
  select * from board where bno=#{bno}
  </select>
  <update id="up" parameterType="int">
  update board set read_count=read_count+1 where bno=#{bno}
  </update>
  <update id="mod" parameterType="bvo">
  update board set title=#{title}, content=#{content}, image_file=#{image_file}
  where bno=#{bno}
  </update>
  <select id="img" parameterType="int" resultType="string">
  select image_file from board where bno=#{bno}
  </select>
  <delete id="del" parameterType="int">
  delete from board where bno=#{bno}
  </delete>
  <select id="tot" parameterType="pgvo" resultType="int">
  select count(bno) from board where bno>0
  <include refid="search"></include>
  </select>
  <sql id="search">
  	<if test="type != null">
  		<trim prefix="and (" suffix=")" prefixOverrides="OR">
  			<foreach collection="typeToArray" item="type">
  				<trim prefix="OR">
  					<choose>
  						<when test="type == 't'.toString()">
  							title like concat('%',#{keyword},'%')
  						</when>
  						<when test="type == 'w'.toString()">
  							writer like concat('%',#{keyword},'%')
  						</when>
  						<when test="type == 'c'.toString()">
  							content like concat('%',#{keyword},'%')
  						</when>
  					</choose>
  				</trim>
  			</foreach>
  		</trim>
  	</if>
  </sql>
  <select id="page" parameterType="pgvo" resultType="bvo">
  select a.bno, title, writer, reg_date, read_count, image_file from
  (select bno from board where bno>0
  <include refid="search"></include>
  order by bno desc limit #{pageStart}, #{qty})
  a left join board b on a.bno=b.bno
  </select>
  </mapper>